<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--
            * Make DOM elements reactive.
            <p id="estelle">{{ str }}</p>
        -->
        <!-- v-bind : binding Vue data to DOM attributes reactively -->
        <p v-bind:id="userid" v-bind:class="name">{{ str }}</p>
        <p> {{ num }} </p>
        <p> {{ doubleNum }} </p>
        <!-- v-if="false" : make DOM element does not exist at all -->
        <div v-if="loginLoading">
            Loading...
        </div>
        <div v-else>
            Test user has been logged in.
        </div>
        <!-- v-show="false" : set CSS display:none; for this DOM element -->
        <div v-show="loginLoading">
            Loading...
        </div>
        <!-- v-model : form input binding -->
        <input type="text" v-model="msg" placeholder="edit me">
        <p>Message : {{ msg }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                str: 'Hi',
                num: 10,
                userid:  'estelle',
                name: 'youjin',
                loginLoading: true,
                msg: ''
            },
            // * computed : 계산된 속성
            computed: {
                // 함수로 만든다.
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        });
    </script>
    
</body>
</html>